body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF5E1; /* Light warm background */
  color: #333333; /* Dark text for contrast */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.star-background {
  position: fixed; /* Fixed position ensures it stays on the screen as you scroll */
  top: 0;
  left: 0;
  width: 100vw;  /* Ensure it covers the full viewport */
  height: 100vh; /* Full viewport height */
  z-index: -1;  /* Set behind all other content */
  pointer-events: none; /* Make sure it doesn't interfere with clicks */
}

.App {
  position: relative;
  z-index: 1; /* Ensure your main content is above the stars */
}

a {
  color: #FF6F61; /* Primary color for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
